@import "tailwindcss";

/* .our-plants {
  max-width: 1140px;
  margin: 50px auto;
  text-align: center;
}
.our-plants h1 {
  font-family: "Noto Serif", serif;
  font-size: 3.12rem;
  font-weight: 700;
}
.our {
  color: #e95a08;
}
.our-plants p {
  font-family: "Inter", sans-serif;
  padding-bottom: 50px;
  width: 888px;
  margin: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.37rem;
}
.card {
  width: 270px;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  width: 1140px;
}
.btn {
  color: #ffffff;
  background-color: #e95a08;
  padding: 26px 50px;
  width: 100%;
  font-weight: 600;
}
.card-item h2 {
  padding: 20px 0;
  font-size: 1.37rem;
  font-weight: 500;
}
.card-item h3 {
  padding: 20px 0;
  font-size: 1.37rem;
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: auto;
  }
  .card-item{
    margin: auto;
  }
} */
